
CC_HandyApp/.idea/.idea.CC_HandyApp/.idea/codeStyles/

CC_HandyApp/.idea/.idea.CC_HandyApp/.idea/

CC_HandyApp/CC_HandyApp/bin/Debug/netcoreapp3.1/

CC_HandyApp/CC_HandyApp/obj/

CC_HandyApp/CC_HandyClass/bin/Debug/netcoreapp3.1/

CC_HandyApp/CC_HandyClass/obj/

CC_HandyApp/.idea/.idea.CC_HandyApp/

Vertretung_Gast/.idea/inspectionProfiles/

Vertretung_Gast/.idea/
